@model IEnumerable<CarsLab.BodyType>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    <h3>Select Excel-file for download</h3>
    @using (Html.BeginForm("Import", "BodyTypes", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
    {
        <div>
            Download Excel-file:
            <input type="file" name="fileExcel" id="fileExcel" />
            <div>
                <input type="submit" value="Download" />
            </div>
        </div>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Список авто</a> |
                    <a asp-action="Export" asp-route-id="@item.Id">Завантажити у файл Excel</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="container">
    <div id="chart1"> </div>
</div>
@section Scripts
    {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
                google.charts.load('current', { 'packages': ['corechart'], callback: drawChart })

                function drawChart() {
                    $.get('api/Charts/JsonData', function (JsonData) {
                        data = google.visualization.arrayToDataTable(JsonData, false);
                        var option =
                        {
                            title: "Кількость авто по типах кузова",
                            width: 500,
                            height: 400
                        };
                        chart = new google.visualization.PieChart(document.getElementById('chart1'));
                        chart.draw(data, option);
                    })
                }

    </script>

}